@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&family=Roboto:wght@500&display=swap');
html body{
    background-color: white;
    font-family:'Roboto', sans-serif;
}
#canvas{
    position: absolute;
    border: 2px solid black;
    background-image: url('../img/grid.svg');
}
.stationNames{
    font-family: 'Noto Sans JP', sans-serif;
    text-anchor: middle;
    width: 100%;
    text-transform: uppercase;
}
.button{
    padding: 10px;
    color: crimson;
    width: 100%;
    background: white;
    transition: 300ms;
    text-align: left;
    display: flex;
    border: none;
    font-size: 1em;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.button:active{
    border-style: outset;
    border: none;
    width: 100%;
}
.button:hover{
    padding: 10px;
    color: red;
    transition: 300ms;
    display: flex;
}
#options{
    text-decoration: none;
    position: fixed;
    right: 2px;
    display: none;
    bottom: 50px;
    width: 15%;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    z-index: 2;
    border: 2px solid crimson;
    transition: 300ms;
    font-family: 'Noto Sans JP', sans-serif;
}
.main{
        text-decoration: none;
        position: fixed;
        right: 2px;
        bottom: 2px;
        width: 15.2%;
        height: auto;
        padding: 10px;
        font-size: 1.5em;
        text-align: center;
        background-color: white;
        color: crimson;
        z-index: 2;
        border: 2px solid crimson;
        transition: 300ms;
        font-family: 'Noto Sans JP', sans-serif;
}
.main:hover{
    text-decoration: none;
    position: fixed;
    right: 2px;
    bottom: 2px;
    height: auto;
    font-size: 1.5em;
    text-align: center;
    background-color: white;
    color: red;
    z-index: 2;
    border: 2px solid crimson;
    transition: 300ms;
    font-family: 'Noto Sans JP', sans-serif;
}
.title-station{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
}
#st-list{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #FFF;
    justify-content: center;
}
.return-obj{
    font-size: 2em;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.return{
    position: fixed;
    top: 0px;
    right: 10px;
    color: crimson;
    background-color: white;
    padding: 16px;
    width: 200px;
    text-align: center;
    font-size: 1em;
    font-weight: 600;
    border: none;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.return:hover{
    color: red;
}
.main-title{
    text-align: center;
}
#st-editor{
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    justify-content: center;
}
.stname{
    position: relative;
    top: 20%;
    margin: auto;
    padding: 5px;
    font-size: 2em;
    margin-bottom: 10px;
    width: 80%;
    display: block;
    border: none;
    border-bottom: #00000047 solid 2px;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  
  /* The container <div> - needed to position the dropdown content */
  .connexion-type {
    position: relative;
    top: 25%;
    left: 12%;
    font-size: 1em;
    border-radius: 1em;
    display: inline-flex;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: fixed;
    top: 45%;
    left: 14%;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(125,125,125,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 