@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans JP', sans-serif;
}

html body{
    position:absolute;
    left: -3px;
    top: -3px;
    background: url('https://transportmapmaker.duckdns.org/img/grid.svg');
}
#svg-canvas{
    position: absolute;
    top: 0em;
    left: 80px;
    background: transparent;
    border: 3px solid #2e1217;
}
#svg-canvas-preview{
    background-color: red;

}
input[type="file"] {
    display: none;
}
.stationNames{
    font-family: 'Noto Sans JP', sans-serif;
    text-anchor: middle;
    width: 100%;
    text-transform: uppercase;
}
#options{
    position: fixed;
    left:0;
    top:0;
    height: 100vh;
    overflow-y: auto;
    width: 80px;
    background-color: #4C5454;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}

#options.active{
    width: 260px;
}

#options #btn{
    position: absolute;
    color: #FFF;
    top:0.4rem;
    left:50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
#options.active #btn{
    transform: translateX(-90%);
    left:90%;
}
#options .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
#options.active .top .logo{
    opacity: 1;
}
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}
#options ul li{
    position: relative;
    list-style-type: none;
    height: 70px;
    width: 90%;
    margin: 0.2rem auto;
    line-height: 50px;
}

#options ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* height: 100%; */
    border-radius: 0.8rem;
    font-size: 1rem;
}
#options.active ul li a{
    width: 200px;
}
#options ul li a span{
    display: none;
    pointer-events: none;
}

#options.active ul li a span{
    display: block;
    pointer-events: all;
}

#options ul li a i{
    min-width: 50px;
    pointer-events: none;
    text-align: center;
    height: 60px;
    border-radius: 12px;
    line-height: 60px;
}

#options ul li a:hover{
    background-color: white;
    color:  #122e17;
}


.title-station{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1vmax;
}
#options ~ .settings{
    position: fixed;
    left: 80px;;
}
#options ~ .st-list{
    position: fixed;
    left: 80px;
}
#options ~ .st-editor{
    position: fixed;
    left: 80px;
}
#options ~ .ln-list{
    position: fixed;
    left: 80px;
}
#options ~ .ln-editor{
    position: fixed;
    left: 80px;
}
#options ~ .export{
    position: fixed;
    left: 80px;
}

#options.active ~ .settings{
    position: fixed;
    left: 260px;
}
#options.active ~ .st-list{
    position: fixed;
    left: 260px;
}
#options.active ~ .st-editor{
    position: fixed;
    left: 260px;
}
#options.active ~ .ln-list{
    position: fixed;
    left: 260px;
}
#options.active ~ .ln-editor{
    position: fixed;
    left: 260px;
}
#options.active ~ .export{
    position: fixed;
    left: 260px;
}

.settings{
    height: 100%;
    max-width: calc(100%-80px);
    background-color: #111111;
}
.st-list{
    height: 100%;
    max-width: calc(100%-80px);
    background-color: #111111;
}
.ln-list{
    max-width: calc(100%-80px);
    height: 100%;
    background-color: #111111;
}
.st-editor{
    height: 100%;
    max-width: calc(100%-80px);
    background-color: #111111;
}
.ln-editor{
    height: 100%;
    max-width: calc(100%-80px);
    background-color: #111111;
}
.export{
    height: 100%;
    max-width: calc(100%-80px);
    background-color: #111111;
}
.bubble{
    height: 100%;
    padding: 50px;
}
.bubble .top{
    width: 100%;
    padding: 15px;
    align-items: center;
    text-align: center;
    color: white;
}
.bubble .top h3{
    padding: 5px;
    font-size: 2rem;
}
.create{
    text-decoration: none;
    background-color: rgb(6, 124, 69);
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 3px;
    border-radius: 5px;
    border: rgb(142, 245, 214) 2px solid;
    width: 100%;
}
.bubble .content{
    padding: 15px;
    width: 100%;
    display: grid;
    justify-items: center;
}
.bubble .content input{
    width: 80%;
    line-height: 15px;
    background-color: black;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px;
}
.st-editor .bubble .content input{
    text-transform: uppercase;
}
.bubble .bottom{
    width: 100%;
    padding: 25px;
    text-align: center;
}
.bubble .bottom button{
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    border: none;
}
.save{
    text-decoration: none;
    background-color: rgb(93, 237, 115);
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3px;
    border-radius: 5px;
    border: rgb(102, 245, 124) 2px solid;
    width: 70px;
}
.delete{
    background-color: rgb(237, 105, 93);
    text-decoration: none;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-left: 3px;
    border-radius: 5px;
    border: rgb(242, 125, 110) 2px solid;
    width: 70px;
}
#content{
    overflow-y: auto;
    height: 500px;
}
.line_section{
    padding: 15px;
    overflow-y: auto;
    width: 115%;
    height: 200px;
    border-bottom: 2px solid navy;
    border-top: 2px solid navy;
    display: grid;
    justify-items: center;
}
.line_name{
    width: 100%;
    padding: 5px;
    text-align: center;
    height: 60px;
    font-size: 2rem;
    margin-bottom: 5px;
    border-radius: .3em;
    text-transform: uppercase;
    border: 2px solid transparent;
}
.station_instance{
    border-radius: 15px;
    width: 80%;
    height: 35px;
    overflow-y: auto;
    text-align: center;
    color: wheat;
    margin-bottom: 2px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
#ln-content{
    display: grid;
    margin-top: 10px;
    justify-items: center;
    height: 400px;
    overflow-y: auto;
}
.line_button{
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 5px;
    border-radius: 4px;
    width: 100%;
    height: 80px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
.export .content{
    display: grid;
}
.exportf{
    text-decoration: none;
    background-color: rgb(6, 124, 69);
    padding: 15px;
    color: white;
    text-align: center;
    font-size: 1.6rem;
    margin: 3px;
    border-radius: 5px;
    border: rgb(20, 220, 160) 2px solid;
    width: 100%;
}
.create:hover{
    background-color: white;
    transition: 200ms;
}
.save:hover{
    color: rgb(93, 237, 115);
    background-color: white;
    transition: 200ms;
}
.delete:hover{
    background-color: white;
    color: rgb(237, 105, 93);
    transition: 200ms;
}
.exportf:hover{
    color:  rgb(6, 124, 69);
    background-color: white;
    transition: 200ms;
}
