@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Noto Sans JP', sans-serif;
}

html body{
    background: url('https://transportmapmaker.duckdns.org/img/grid.svg');
}
.editor-content{
    margin-bottom: 25vh;
    display: grid;
    justify-content: center;
}
#svg-canvas{
    position: absolute;
    top: 0em;
    left: 0em;
    background: transparent;
}
#svg-canvas-preview{
    background-color: red;

}
input[type="file"] {
    display: none;
}
#ln_content{
    max-width: 100%;
    display: block;
    min-height: 100%;
    align-items: center;
}
input[type="text"]{
    background-color: white;
    border-radius: 5px;
    border: 0.8vmin solid #555555;
    padding: 3vmin;
    font-size: 4vmin;
    max-width: 50vw;
}
input[type="text"]:focus{
    border: 0.8vmin solid #19FF99;
    transition:200ms;
}
#param_content{
    max-width: 100%;
    display: block;
    min-height: 100%;
    align-items: center;
}
.stationNames{
    font-family: 'Noto Sans JP', sans-serif;
    text-anchor: middle;
    width: 100%;
    text-transform: uppercase;
}
.head{
    height: 20vh;
    display:flex;
    align-items: center;
}
.head-export{
    height: 10vh;
    display:flex;
    align-items: center;
}
.head-export h1{
  padding: 10px;
  font-size: 2vmax;
}
.head h1{
  padding: 10px;
  font-size: 2vmax;
}
.line_section{
    transform: translateY(-20vh);
    width: 100%;
    height: auto;
    background: #ADE25D;
    border-radius: 1em;
    transform: scale(0.7);
    padding: 15px;
    text-align: center;
    align-self: center;
    outline: 5px solid #3A5743CC;
}
.line_name{
    position: relative;
    font-size: 6vmax;
    font-weight: 600;
    color: #FFF;
    display: block;
    min-width: 100%;
    border-radius: 0.1em;
    min-height: 10%;
    margin-bottom: 0.5em;
    text-transform: uppercase;
}
.line_button{
    transform: translateY(-15vh);
    font-size: 3vmax;
    padding: 10px;
    font-weight: 600;
    margin-left: 0%;
    min-height: 10%;
    text-align: center;
    display: block;
    color: white;
    opacity: 0.3;
    transition: 300ms;
}
.line_button:hover{
    opacity: 1.0;
    transition: 0.3s;
}
.line_button:active{
    opacity: 1.0;
    color: white;
}
.station_instance{
    position: relative;
    margin: auto;
    font-size: 2vmax;
    margin-bottom: 10px;
    width: 50%;
    display: block;
    border: none;
    outline: none;
    transition: 300ms;
    display: block;
    text-transform: uppercase;
}
.station_instance:hover{
    transition: 300ms;
    color: #0055FF;
    cursor: pointer;
}
.return{
    padding-right: 3vw;
    opacity: 0.5;
    padding: 15px;
    color: rgb(220, 30, 64);
    background: transparent;
    transition: 300ms;
    text-align: center;
    display: inline-flex;
    border: none;
    font-size: 1.5vmax;
    line-height: 15px;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
#ln_create{
    padding-left: 3vw;
    z-index: 2;
}
.menu-buttons{
    opacity: 0.5;
    color: rgb(220, 30, 64);
    width: auto;
    font-size: 4vmax;
    height: auto;
    background: #22222200;
    transition: 300ms;
    text-align: center;
    padding: 15px;
    display: flex;
    border: none;
    font-weight: 300;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.return:hover{
    opacity: 1;
    transition: 300ms;
}
.menu-buttons:hover{
    opacity: 1;
    cursor: pointer;
    transition: 300ms;
}
.return-obj{
    transform: scaleX(0.7);
    position: relative;
    bottom: 30%;
    font-size: 2vmax;
    margin-right: 0.25%;
}

.button{
    padding: 1em;
    width: 100%;
    max-width: 100%;
    background-color: #AACC33;
    color: whitesmoke;
    transition: 300ms;
    display: flex;
    border: 0px solid transparent;
    font-size: 1vmax;
    text-align: center;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.button:active{
    border-style: outset;
    width: 100%;
    background: whitesmoke;
}
.button:hover{
    color: #AACC33;
    transition: 400ms;
    display: flex;
    background: #111111;
}
#options{
    position: fixed;
    left:0;
    top:0;
    height: 100vh;
    width: 80px;
    background-color: #122e17;
    padding: .4rem .8rem;
    transition: all 0.5s ease;
}
#options.active ~ .main-content{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #st-list{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #parameters{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #export-section{
    left:260px;
    width: calc(100%-260px);
}

#options.active ~ #st-list{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #st-editor{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #ln-list{
    left:260px;
    width: calc(100%-260px);
}
#options.active ~ #ln-editor{
    left:260px;
    width: calc(100%-260px);
}
#options ~ #st-list{
    left:80px;
    width: calc(100%-80px);
}
#options~ #st-editor{
    left:80px;
    width: calc(100%-80px);
}
#options~ #ln-list{
    left:80px;
    width: calc(100%-80px);
}
#options ~ #ln-editor{
    left:80px;
    width: calc(100%-80px);
}
#options ~ #parameters{
    left:80px;
    width: calc(100%-80px);
}
#options ~ #export-section{
    left:80px;
    width: calc(100%-80px);
}

#options.active{
    width: 260px;
}

#options #btn{
    position: absolute;
    color: #FFF;
    top:0.4rem;
    left:50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}
#options.active #btn{
    transform: translateX(-90%);
    left:90%;
}
#options .top .logo{
    color: white;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}
#options.active .top .logo{
    opacity: 1;
}
.top .logo i{
    font-size: 2rem;
    margin-right: 5px;
}
#options ul li{
    position: relative;
    list-style-type: none;
    height: 70px;
    width: 90%;
    margin: 0.2rem auto;
    line-height: 50px;
}

#options ul li a{
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    /* height: 100%; */
    border-radius: 0.8rem;
    font-size: 1rem;
}
#options.active ul li a{
    width: 200px;
}
#options ul li a span{
    opacity: 0;
}

#options.active ul li a span{
    opacity: 1;
}

#options ul li a i{
    min-width: 50px;
    text-align: center;
    height: 60px;
    border-radius: 12px;
    line-height: 60px;
}

#options ul li a:hover{
    background-color: white;
    color:  #122e17;
}


.title-station{
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1vmax;
}
#st-list{
    overflow-x: hidden;
    z-index: 2;
    background-color: #010101;
    min-height: 110vh;
    display: none;
}
.main-title{
    text-align: center;
    padding: 5vh;
    width: 100%;
    color: white;
}
#st-editor{
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 3;
    background-color: #010101;
    min-height: 110vh;
    display: none;
    justify-content: center;
}
#ln-list{    
    z-index: 3;
    overflow-x: hidden;
    background-color: #010101;
    min-height: 110vh;
    justify-content: center;
    display: none;
}
.content{ 
  overflow-y: scroll;
  overflow-x: hidden;
}
#ln-editor{
    z-index: 2;
    background-color: #010101;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 110vh;
    display: none;
    justify-content: center;
}
#export-section{
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FFFFCC;
    min-height: 125%;
    max-height: 105%;
    display: none;
    justify-content: center;
}
#parameters{
    z-index: 3;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #FFFFCC;
    min-height: 125vh;
    display: none;
    justify-content: center;
}
#param-content{
    width: 100%;

}
#export-section div{
    display: inline-flex;
    min-height: 100%;
}
#export-box{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#export-box button{
    margin-top: 6.5%;
    padding: 1%;
    font-size: 5vh;
    color: #0055FF;
}
#export-box button:hover{
    opacity: 0.5;
    background: transparent;
}

#preview{
    position: relative;
}
.slidecontainer{
    position: relative;
    top: 0vh;
    left: 10vw;
    padding: 5px;
}
.lame{
    position: relative;
    top: 20%;
    margin: auto;
    margin-top: 2em;
    margin-bottom: 2em;
    width: 80%;
    display: block;
    height: 100px;
    outline: none;
}
.dropdowns{
    display: block;
    width: 100%;
}
 /* Dropdown Button */
 .dropbtn {
    background-color: white;
    color: gray;
    padding: 16px;
    width: 200px;
    text-align: center;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .connexion-type {
    margin-top: 5px;
    width: 100%;
    height: 5%;
    padding: 10px;
    font-size: 1em;
    border-radius: 1em;
    display: block;
  }

  .connexion-type label{
      
      text-align: center;
      margin: 15px;
      color: white;      
   }
  .style-type label{
      text-align: center;
      margin: 15px;
   }
  .style-type {
    margin-top: 5px;
    padding: 10px;    width: 100%;
    height: 5%;
    font-size: 1em;
    border-radius: 1em;
    display: block;
  }
  .style-type label{
    color: white;
  }
  #save{
    text-decoration: none;
    position: fixed;
    top: 85vh;
    right: 10vw;
    color: forestgreen;
    font-size: 2vmax;
  }

  #save:active{
    background-color: transparent;
    color: greenyellow;
  }
  #param-save{
    text-decoration: none;
    position: fixed;
    top: 85vh;
    right: 10vw;
    color: forestgreen;
    font-size: 2vmax;
  }

  #param-save:active{
    background-color: transparent;
    color: greenyellow;
  }
  #ln_save{
    text-decoration: none;
    position: fixed;
    top: 85vh;
    right: 10vw;
    color: forestgreen;
    font-size: 2vmax;
  }
  #ln_save:active{
    background-color: transparent;
    color: greenyellow;
  }
  #delete{
    text-decoration: none;
    position: fixed;
    top: 85vh;
    left: 10vw;
    font-size: 2vmax;
  }
  
  #delete:active{
    background-color: transparent;
    color: orangered;
  }
  #ln_delete{
    text-decoration: none;
    position: fixed;
    top: 85vh;
    left: 10vw;
    font-size: 2vmax;
  }
  #ln_delete:active{
    background-color: transparent;
    color: orangered;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    background-color: #FFFFCC;
    outline: none;
    height: 100%;

}
  
  /* Links inside the dropdown */

  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 
